@import '../styles/fonts.scss';
@import '../styles/vars.scss';

.item-list {
	margin: 50px auto;
	display: flex;
	width: 80%;
	flex-direction: column;
	overflow-x: hidden;
}

.item {
	background: $grey-light;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	border-width: 1.5px;
	border-style: solid;
	border-color: $grey-light-border-color;

	&__input {
		align-self: center;
		height: 100px;
		margin: 50px 0;
		width: 80%;
		font-size: 20px;
		outline: none;
		resize: none;
		padding: 5px 10px;
		font-family: 'W95FA', sans-serif;
		font-weight: 400;
	}
	&__input:focus {
		outline: 1px solid $dark-color;
	}
	&__controls {
  		background: $title-color;
  		color: $light-color;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 5px;
		p {
			font-size: 18px;
			margin: 0;
		}
		button {
 		 	width: 22px;
  			height: 22px;
  			background: $grey-light;
  			border-width: 1px;
  			border-color: $grey-light-border-color;
  			font-size: 16px;
		}
	}
	&__btn {
		align-self: center;
		background: $grey-light;
	}
	&__btn:focus {
		outline: 1px solid $dark-color;
	}
	&__accept-btn {
		margin-bottom: 40px;
		font-size: 17px;
		font-weight: 400;
		padding: 5px 15px;
		font-family: 'W95FA', sans-serif;
	}
}

.navbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 42px;
	padding: 0 4px;
	display: flex;
	background: $grey-light;
	justify-content: flex-start;
	button {
		width: 80px;
		font-size: 30px;
	}
}

.loader {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
	img {
		width: 50%;
	}
}
