* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background:#008080;
	font-family: Tahoma, sans-serif;
	margin: 0;
	font-family: sans-serif;
}

.app-container {
	position: relative;
}


button:focus{
  outline:none;
	
}

button{
  /*position:absolute;
  right:3px;
  top:3px;*/

  float:right;
  padding: 20px;
  background:#C0C0C0;
  border-width:1px;
  
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
	border-color:#FFFFFF #808080 #808080 #FFFFFF;
}